[user]
    name = Webblitchy
    email = 55515713+Webblitchy@users.noreply.github.com
    signingkey = D82D12852AFC900A2FC3CB91680A3F4FA50253B3
[commit]
    gpgsign = true
[pull]
    rebase = true
[rebase]
    autostash = true
[core]
    editor = nvim
    excludesfile = ~/.config/git/gitignore_global
[alias]
    graph = log --all --decorate --oneline --graph
    poule = pull
    s = status
[init]
    defaultBranch = main
[advice]
    addIgnoredFile = false
