[user]
	name = Webblitchy
	email = 55515713+Webblitchy@users.noreply.github.com
	signingkey = D82D12852AFC900A2FC3CB91680A3F4FA50253B3
[commit]
	gpgsign = true
[pull]
	rebase = false
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[alias]
	graph = log --all --decorate --oneline --graph
