@import 'colors.css';
headerbar button.titlebutton image, .titlebar button.titlebutton image {
  color: transparent;
}

headerbar button.titlebutton, .titlebar button.titlebutton {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 11px 11px;
  padding: 1px 3px 1px 5px;
}